---
import Header from '../components/Header.astro';
import Introduction from '../components/Introduction.astro';
import Values from '../components/Values.astro';
import Services from '../components/Services.astro';
import Features from '../components/Features.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitio Jimenez Ramos</title>
    <link rel="stylesheet" href="/src/styles.css"> 
</head>
<body class="font-sans antialiased">
    <Header />
    <Introduction />
    <Values />
    <Services />
    <Features />
    <Contact />
    <Footer />
</body>
</html>
