--- 
---
<section id="features" class="p-6 bg-white">
    <h2 class="text-2xl font-bold text-center">Características y Ventajas</h2>
    <p class="mt-4 text-center">En Sangre Hidalguense, nuestra experiencia y pasión por lo que hacemos nos distingue. Nos comprometemos a ofrecer:</p>
    <ul class="mt-4 list-disc list-inside">
        <li>Calidad y Profesionalismo: Cada evento es planificado y ejecutado con atención meticulosa a los detalles.</li>
        <li>Creatividad Única: Diseñamos eventos personalizados y únicos.</li>
        <li>Resultados Espectaculares: Utilizamos la mejor tecnología en audio, iluminación, video y fotografía para asegurar un evento inolvidable.</li>
        <li>Compromiso Total: Nos dedicamos a superar tus expectativas en cada proyecto.</li>
        <li>Flexibilidad y Adaptación: Nos adaptamos a tus necesidades y presupuesto, garantizando siempre la mejor calidad.</li>
    </ul>
 </section>
 