--- 
---
<footer class="bg-red-950 text-gray-300 p-4 text-center">
    <p>&copy; 2024 Sitio Jimenez Ramos. Todos los derechos reservados. | Powered by <a class="text-red-400 hover:text-red-500" href="https://www.zeniaq.com" target="_blank">Zeniaq</a></p>
 </footer>
 