--- 
---
<header class="bg-blue-600 text-white p-6 text-center">
    <h1 class="text-3xl font-bold">Sitio Jimenez Ramos</h1>
    <p class="text-xl">Expertos en Organización de Eventos Inolvidables</p>
 </header>
 