--- 
---
<section id="introduction" class="p-6 bg-gray-100 text-center">
    <h2 class="text-2xl font-bold">Transformamos tus ideas en experiencias inolvidables</h2>
    <p class="mt-4">Convertimos cada evento en un acontecimiento único y memorable.</p>
    <p class="mt-2">No esperes más para hacer realidad el evento de tus sueños. ¡Contáctanos y comienza a planificar una experiencia inolvidable!</p>
 </section>
 