---
import Values from "./Values.astro";
 
---
<section id="introduction" class="bg-[url('/images/bg-intro_01.webp')] bg-cover bg-center py-24 text-center">
    <div class="p-4">
        <h2 class="text-red-950 text-3xl font-medium">Transformamos tus ideas en experiencias inolvidables</h2>
        <p class="text-emerald-950 text-opacity-70 text-lg font-normal mt-4 mb-8">Nuestra pasión por lo que hacemos se refleja en cada proyecto, garantizando resultados únicos y memorables.</p>
    </div>
    <Values />
 </section>