--- 
---
<section id="services" class="p-6 bg-gray-100">
    <h2 class="text-2xl font-bold text-center">Servicios</h2>
    <div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <article class="bg-white p-4 rounded shadow-md">
            <h3 class="text-xl font-semibold">Social</h3>
            <p class="mt-2">Organizamos todo tipo de eventos sociales, desde cumpleaños y aniversarios hasta reuniones familiares, garantizando momentos únicos y especiales que perdurarán en la memoria de tus invitados.</p>
        </article>
        <article class="bg-white p-4 rounded shadow-md">
            <h3 class="text-xl font-semibold">Artístico</h3>
            <p class="mt-2">Diseñamos y ejecutamos eventos artísticos que destacan por su creatividad y profesionalismo.</p>
        </article>
        <article class="bg-white p-4 rounded shadow-md">
            <h3 class="text-xl font-semibold">Cultural</h3>
            <p class="mt-2">Fomentamos la diversidad y la riqueza cultural a través de eventos en festivales, ferias y eventos temáticos que celebran nuestras tradiciones y costumbres.</p>
        </article>
        <article class="bg-white p-4 rounded shadow-md">
            <h3 class="text-xl font-semibold">Wedding Planner</h3>
            <p class="mt-2">Nos encargamos de cada detalle de tu boda, desde la planificación inicial hasta el último momento. Con amor y dedicación, hacemos realidad la boda de tus sueños, creando un día perfecto y sin preocupaciones para que puedas disfrutar de un evento inolvidable.</p>
        </article>
        <article class="bg-white p-4 rounded shadow-md">
            <h3 class="text-xl font-semibold">Organización de eventos</h3>
            <p class="mt-2">Ofrecemos servicios integrales para la organización de eventos sociales, institucionales, artísticos y culturales, adaptándonos a las necesidades específicas de cada cliente y evento.</p>
        </article>
        <article class="bg-white p-4 rounded shadow-md">
            <h3 class="text-xl font-semibold">Catering</h3>
            <p class="mt-2">Proveemos servicios de catering con menús personalizados que deleitarán a tus invitados. Utilizamos ingredientes frescos y de la mejor calidad para asegurar una experiencia culinaria inolvidable.</p>
        </article>
        <article class="bg-white p-4 rounded shadow-md">
            <h3 class="text-xl font-semibold">Sesiones de Video y Fotografía</h3>
            <p class="mt-2">Capturamos los momentos más importantes de tu evento con sesiones de video y fotografía profesional. Aseguramos recuerdos duraderos con la más alta calidad visual, creando imágenes y videos que serán atesorados por siempre.</p>
        </article>
        <article class="bg-white p-4 rounded shadow-md">
            <h3 class="text-xl font-semibold">Audio e Iluminación</h3>
            <p class="mt-2">Ofrecemos servicios de audio e iluminación de vanguardia para crear la atmósfera perfecta en tus eventos, garantizando una experiencia sensorial inolvidable.</p>
        </article>
        <article class="bg-white p-4 rounded shadow-md">
            <h3 class="text-xl font-semibold">Banquetes</h3>
            <p class="mt-2">Creamos banquetes personalizados que se adaptan a tus gustos y necesidades, con una presentación impecable y sabores que encantarán a todos tus invitados.</p>
        </article>
        <article class="bg-white p-4 rounded shadow-md">
            <h3 class="text-xl font-semibold">Academia de danza y espectáculos</h3>
            <p class="mt-2">Ofrecemos formación en danza y organizamos espectáculos escénicos de alta calidad, presentando actuaciones que maravillan y entretienen a todo tipo de audiencias, destacando por su profesionalismo y pasión.</p>
        </article>
        <article class="bg-white p-4 rounded shadow-md">
            <h3 class="text-xl font-semibold">Compañía Folklórica</h3>
            <p class="mt-2">Preservamos y promovemos nuestras raíces culturales a través de presentaciones folklóricas auténticas y vibrantes, mostrando la riqueza de nuestras tradiciones a través del baile y la música.</p>
        </article>
    </div>
 </section>
 