--- 
---
<section id="values" class="p-6 bg-white text-center">
    <h2 class="text-2xl font-bold">Calidad, Compromiso y Entrega en Cada Proyecto</h2>
    <p class="mt-4">Nuestra pasión por lo que hacemos se refleja en cada proyecto, garantizando resultados únicos y memorables.</p>
 </section>
 